@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    min-width: 1024px;
    min-height: 760px;
    max-height: 99.75%;
    height: 99.73%;

}

html {
    max-height: 99.75%;
    height: 99.73%;
    min-width: 1024px;
    min-height: 760px;
}

.textHeader {
    height: 30px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-style: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dfdedd));
    background: linear-gradient(to bottom, black, darkblue);
    text-align: left;
    font-size: 16pt;
    color: white;
}

.fakeContainer {
    margin: 0 0 0;
    border: 1px;
    width: 100%;
    height: 95%;
    overflow: hidden;
}

.tenpoName {
    font-size: 11pt;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sortText {
    font-size: 11pt;
    position: absolute;
    left: 50%;
    width: 32%;
    top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kensuText {
    font-size: 13pt !important;
}

.kenText {
    font-size: 11pt;
    vertical-align: top;
}

.listTable {
    padding: 0px;
    border-collapse: collapse;
    margin: 0px;
}

/* 項目見直し */
.listTable_sub {
    padding: 0px;
    border-collapse: collapse;
    margin: 0px;
    border-style: none;
    width: 100%;
    height: 100%;
}

.listTable_sub2 {
    height: 96px;
}

.listTable_sub_red {
    /* 2018/03/28 mod start 運用課題No.650 色変更 */
	/*background:#900000;*/
	background:#EE0000;
    /* 2018/03/28 mod end 運用課題No.650 色変更 */
    border: 1px solid #376092;
}

.listTable_sub_red_select {
    /* 2018/03/28 mod start 運用課題No.650 色変更 */
    /*background: linear-gradient(to bottom, rgba(35, 60, 83, 1), #900000, rgba(35, 60, 83, 1));*/
    background: linear-gradient(to bottom, rgba(35, 60, 83, 1), #EE0000, rgba(35, 60, 83, 1));
    /* 2018/03/28 mod end 運用課題No.650 色変更 */
}

.td_Staff {
    width: 5.37%;
    min-width: 5.37%;
    max-width: 5.37%;
    border: 1px solid #376092;
    text-decoration: underline;
}

.data_Staff {
    width: 5.37%;
    min-width: 5.37%;
    max-width: 5.37%;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 14px;
    border: 1px solid #376092;
}

.data_CyumonNo {
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 12pt;
    border: 1px solid #376092;
}

.data_CyumonNo1 {
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
}

.data_Zaiko {
    width: 7.81%;
    max-width: 7.81%;
    min-width: 80px;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 10.5pt;
    border: 1px solid #376092;
}

.data_Zaiko1 {
    width: 7.81%;
    max-width: 7.81%;
    min-width: 80px;
    font-family: 'ＭＳ Ｐゴシック';
    font-size: 10pt;
}

.data_Jyutuubi {
    width: 5.94%;
    max-width: 5.94%;
    font-size: 15px;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    border: 1px solid #376092;
    color: gray;
}

.data_Furiatebi1 {
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 17px;
}

/* 明細1行の列 */
.dataSubTable_0 {
    height: 33.33%;
    min-height: 60px;
    max-height: 33.33%;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #376092;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 11pt;
    text-align: center;
}

.dataSubTable_0_1 {
    height: 33.33%;
    min-height: 30px;
    max-height: 33.33%;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    text-align: center;
}

/* 明細2行の列 */
.dataSubTable_1 {
    height: 50.00%;
    min-height: 32.5px;
    max-height: 50.00%;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #376092;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    text-align: center;
    font-size: 17px;
}

.dataSubTable_1_1 {
    height: 50.00%;
    min-height: 32.5px;
    max-height: 50.00%;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    text-align: center;
    font-size: 12px;
}

/* 明細3行の列 */
.dataSubTable_2 {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 12pt;
    text-align: center;
}

.dataSubTable_2a {
    height: 33.33%;
    min-height: 22px;
    max-height: 33.33%;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #376092;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 12pt;
    text-align: right;
}

.dataSubTable_2_1 {
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 12px;
    text-align: right;
}

/* 明細3行の列 変更対応 */
.dataSubTable_3 {
/*    height: 20%;  */
    min-height: 33.33%;
    max-height: 33.33%;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 14pt;
    text-align: left;
}

.dataSubTable_3_1 {
    min-height: 22px;
    text-align: center;
}

.dataSubTable_3_1_1 {
    border-bottom-style:dashed;
    border-bottom-width:1px;
    border-bottom-color:#376092
}

.dataSubTable_3_2 {
    text-align: center;
}

.dataSubTable_3_2_1 {
    font-size: 14px;
}

.dataSubTable_3_2_3 {
    position:relative;
    left:-50%
}

/* フラグ対応 */
.data_flg2 {
    font-size: 16px;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    color: white;
    background-image: url('../../IMG/flag_orange.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 18% 35%;
    border: 1px solid #376092;
}

.data_flg2_select {
    font-size: 16px;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    color: white;
    background-image: url('../../IMG/flag_orange.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 18% 35%;
    border: 1px solid #376092;
}

.data_flg {
    background-image: url('../../IMG/flag_orange.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 70% 90%;
    border-style: none;
}
.data_flg_left {
    margin-left:-40%;
}


.data_flg_select {
    background-image: url('../../IMG/flag_orange.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 70% 90%;
}

.data_flg_none {
    background-image: url('../../IMG/none.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 70% 90%;
    border-style: none;
}

.listTani2 {
    text-align: right;
    vertical-align: top;
    font-family: 'ＭＳ Ｐゴシック';
    font-size: 8pt;
    border-style: none;
    padding-right: 2px;
    padding-top: 2px;
}

.listTani_kaisu {
    text-align: right;
    vertical-align: top;
    width: 15%;
    font-family: 'ＭＳ Ｐゴシック';
    font-size: 8pt;
    border-style: none;
    padding-right: 2px;
    padding-top: 4px;
}

.data_cell1 {
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    font-size: 12pt;
    color: white;
    text-align: center;
    border: 1px solid #376092;
}

.data_cell1_red {
    font-size: 16px;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    color: white;
    background-color: #430707;
    border: 1px solid #376092 !important;
}

/* 計画日の不整合対応 */
.data_keikaku_red {
    background-color: #430707;
}

.data_cell1_red_select {
    font-size: 16px;
    font-family: 'HGP創英角ｺﾞｼｯｸUB';
    color: white;
    background: linear-gradient(to bottom, rgba(35, 60, 83, 0.1), #430707, rgba(35, 60, 83, 0.1));
}

.data_cell3 {
    font-size: 12pt;
    text-align: right;
}

.span_furiatebi {
    font-size: 10px;
}

/* 項目見直し */

.td_Okyaku {
    width: 11.23%;
    min-width: 11.23%;
    max-width: 11.23%;
    border: 1px solid #376092;
    text-decoration: underline;
}

.td_SyasyuZaiko {
    width: 7.81%;
    max-width: 7.81%;
    min-width: 80px;
    border: 1px solid #376092;
    text-decoration: underline;
}

.td_Jyutuubi {
    width: 5.94%;
    max-width: 5.94%;
    border: 1px solid #376092;
    text-decoration: underline;
}

.td_Furiatebi {
    width: 5.94%;
    max-width: 5.94%;
    border: 1px solid #376092;
}

.td_Status {
    width: 6.32%;
    height: 100%;
    border: 1px solid #376092;
    text-decoration: underline;
}

.td_Status_Okyaku {
    width: 5.82%;
    height: 100%;
    border: 1px solid #376092;
    text-decoration: underline;
}

.td_Status_Nosya {
    width: 9.22%;
    height: 100%;
    border: 1px solid #376092;
    text-decoration: underline;
}

.data_Status {
    width: 6.32%;
    height: 100%;
    border: 1px solid #376092;
}

.data_Status_Okyaku {
    width: 5.82%;
    height: 100%;
    border: 1px solid #376092;
}

.data_Status_Nosya {
    width: 9.22%;
    height: 100%;
    border: 1px solid #376092;
}

.data_Status2 {
    width: 5.77%;
    border: 1px solid #376092;
}

.data_Status3 {
    width: 7.77%;
    border: 1px solid #376092;
}

.span_Syorui3, .span_touroku {
    font-size: 16px
}

.td_Nousya {
    width: 5.77%;
    border-style: solid;
    border-color: #376092;
}

.td_Koutei {
    border: 1px solid #376092;
}

.listData {
    background: #000000;
    border: #376092 solid 1px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
}

.divMain {
    padding: 0px;
    margin: 0px;
    border-style: none;
    text-align: center;
    font-size: 16pt;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dfdedd));
    background: linear-gradient(to bottom, darkblue, #010010);
}

.listData_Select {
    background: linear-gradient(to bottom, rgba(35, 60, 83, 1), rgba(20, 37, 58, 1), rgba(35, 60, 83, 1));
    border-color: #376092;
    border: #376092 solid 1px;

}

.underline {
    text-decoration: underline;
}
