
body {
   margin:0px; padding:0px; background-color:black;
   min-width:1024px;
   min-height:760px;
   max-height:99.75%;
   height:99.73%;

}
html {
	max-height:99.75%;
	   height:99.73%;
	min-width:1024px;
	min-height:760px;
}

.textHeader {
    height: 30px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-style: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dfdedd));
    background: linear-gradient(to bottom,black,darkblue);
    text-align: left;
    font-size: 16pt;
    color: white;
}

.fakeContainer { 
	margin: 0 0 20px;
	border: 1px;
	width: 100%; 
	height: 95%; 
	overflow: hidden; 
}


.tenpoName {
    font-size: 11pt;
    width: 50%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.sortText {
    font-size: 11pt;
    position:absolute;
    left:50%;
    width: 32%;
    top:10px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.kensuText {
    font-size: 13pt !important;
}

.kenText {
    font-size: 11pt;
    vertical-align: top;
}


	.listTable{
		padding:0px;
		border-collapse:collapse;
		margin:0px;
	}

.listTable_sub{
	padding:0px;
	border-collapse:collapse;
	margin:0px;
	border-style:none;
	width:100%;
	height:100%;
}

.data_Staff{
    width:5.37%;
	min-width:5.37%;
	max-width:5.37%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_Syubetu{
    width:5.37%;
	min-width:5.37%;
	max-width:5.37%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_KainusiCyumonNo{
	width:21.23%;
	min-width:21.23%;
	max-width:21.23%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:12pt;
    border: 1px solid #376092;
}

.data_Kainusi {
	width:21.23%;
	min-width:21.23%;
	max-width:21.23%;
}

.data_CyumonNo{
	width:21.23%;
	min-width:21.23%;
	max-width:21.23%;
}

.data_Katashiki{
    width:8.77%;
	min-width:8.77%;
	max-width:8.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_Furiatebi{
    width:5.77%;
	min-width:5.77%;
	max-width:5.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
	border: 1px solid #376092;
}

.data_KibouNo{
    width:5.77%;
	min-width:5.77%;
	max-width:5.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
	border: 1px solid #376092;
}

.data_Tourokubi{
    width:5.77%;
	min-width:5.77%;
	max-width:5.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
	border: 1px solid #376092;
}

.data_Oss {
    width:3.80%;
	min-width:3.80%;
	max-width:3.80%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_SyoruiKanbi{
    width:6.77%;
	min-width:6.77%;
	max-width:6.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_Haisobi{
    width:5.77%;
	min-width:5.77%;
	max-width:5.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_Nousyabi{
    width:5.77%;
	min-width:5.77%;
	max-width:5.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_Syokenry{
    width:5.77%;
	min-width:5.77%;
	max-width:5.77%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
}

.data_Nyukin{
    width:8.65%;
	min-width:8.65%;
	max-width:8.65%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:10.5pt;
    border: 1px solid #376092;
    padding-right:20px;
    /*padding-left:10px*/
}

.listData{
	background:#000000;
	border-color:#376092;
	border-style:solid;
	border-width:1px;
	padding:0px;
	font-size:18px;
	text-align:center;
}

.dataSubTable_0{
	height:50.00%;
	min-height:32px;
	max-height:50.00%;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-bottom-color:#376092;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	font-size:11pt;
    text-align:center;
}

.dataSubTable_0_1{
	height:50.00%;
	min-height:32px;
	max-height:50.00%;
	font-family:'HGP創英角ｺﾞｼｯｸUB';
    text-align:center;
}

.divMain {
    padding: 0px; 
    margin: 0px; 
    border-style: none;
    text-align: center;
    font-size:16pt;
    color:white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dfdedd));
    background: linear-gradient(to bottom,darkblue,#010010);
}
.listData_Select{

	background: linear-gradient(to bottom,rgba(35,60,83,1),rgba(20,37,58,1),rgba(35,60,83,1));
	border-color:#376092;
	border:#376092 solid 1px;
	
	
}
.listData{

	background:#000000;
	border:#376092 solid 1px;
	
}

.underline {
    text-decoration:underline;
}
