@charset "UTF-8"; 

.divMain {
    padding: 0px; 
    margin: 0px; 
    border-style: none;
    text-align: center;
    font-size:16pt;
    color:white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dfdedd));
    background: linear-gradient(to bottom,darkblue,#010010);
}

.divTable {
    display: table;
	padding:0px;
	border-collapse:collapse;
	margin:0px;
	border-style:none;
	width:100%;
	height:100%;
    text-align:center;
}
.divTableRow {
    display: table-row;
}
.divTani {
    display: table-cell;
	text-align:right;
	vertical-align:top;
    height: 15px;
	font-family:'ＭＳ Ｐゴシック';
	border-style:none;
	padding-right:4px;
    padding-top:8px;
	font-size: 9pt;
	color:gray;
}
.divDataText {
    display: table-cell;
    vertical-align: top;
}

.listData_text_style{
	vertical-align: top;
}
.listData{
	background:#000000;
	border-color:#376092;
	border-style:solid;
	border-width:1px;
	padding:0px;
	font-size:18px;
	text-align:center;
	min-height:43px;
}

.th_Tenpo{
    height:65px;
    width: 5.55%;
    max-width: 5.55%;
    font-family:ＭＳ Ｐゴシック;
    font-size:14px;
    font-weight:normal;
	border:1px solid #376092;
    background-color: #00007C  !important;
    text-decoration:underline;
}
.th_nyukoMonth, .th_nyukoToday, .th_beforeLastMonth, .th_lastMonth, .th_thisMonth, .th_nextMonth, .th_nextMonthNyuko {
	height:20px;
    color:white;
    font-family:ＭＳ Ｐゴシック;
    font-size:14px;
    font-weight:normal;
    border-width: 1px 1px 0px 1px !important;
    border-style: solid !important;
    border-color: #376092 !important;
    background-color: #00007C  !important;
    pointer-events : none;
}
.th_MokuhyoMonth, .th_MokuhyoToday, .th_mokuhyoNextMonth {
    height:45px;
    width: 5.55%;
    max-width: 5.55%;
    font-family:ＭＳ Ｐゴシック;
    font-size:14px;
    font-weight:normal;
	border-width: 0px 1px 1px 1px !important;
    border-style: solid;
    border-color: #376092;
    background-color: #00007C  !important;
    text-decoration:underline;
}
.th_JisekiMonth, .th_TasseiRitsuMonth, .th_TasseiRitsuMikomiMonth, .th_TasseiMikomiMonth,.th_JisekisaToday, 
.th_beforLastMonthMikekka, .th_lastMonthBouei, .th_beforLastMonthMP, .th_thisMonthMikekka,
.th_thisMonthMP, .th_thisMonthBouei, .th_nextMonthMikekka, .th_nextMonthMP, .th_KeikakuKatsudo, .th_SessyokuKatsudo,
.th_mikomiNextMonth, .th_tasseiritsuMikomiNextMonth {
    height:45px;
    width: 5.2%;
    max-width: 5.55%;
    font-family:ＭＳ Ｐゴシック;
    font-size:14px;
    font-weight:normal;
	border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #376092;
    background-color: #00007C  !important;
    text-decoration:underline;
}
.data_Tenpo {
	font-family:ＭＳ Ｐゴシック;
    font-size:14px;
	letter-spacing:1px;
    height:60px;
    width: 5.2%;
    max-width: 5.55%;
	border:1px solid #376092;
}
.data_MokuhyoMonth, .data_JisekiMonth, .data_TasseiRitsuMonth, .data_TasseiRitsuMikomiMonth, .data_TasseiMikomiMonth,
.data_MokuhyoToday, .data_JisekisaToday, .data_beforLastMonthMikekka, .data_lastMonthBouei, .data_beforLastMonthMP, 
.data_thisMonthMikekka,.data_thisMonthMP, .data_thisMonthBouei, .data_nextMonthMikekka, .data_nextMonthMP,
.data_mokuhyoNextMonth, .data_mikomiNextMonth, .data_tasseiritsuMikomiNextMonth {
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	letter-spacing:1px;
    height:60px;
    width: 5.2%;
    max-width: 5.55%;
	border:1px solid #376092;
}

.all_Tenpo {
    background-color: #000000 !important;
	font-family:ＭＳ Ｐゴシック;
    font-size:14px;
	letter-spacing:1px;
    height:60px;
    width: 5.2%;
    max-width: 5.55%;
    border-bottom: 3px double #376092 !important;
    font-weight: normal;
}
.all_Data {
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	letter-spacing:1px;
    height:60px;
    width: 5.2%;
    max-width: 5.55%;
    border-bottom: 3px double #376092 !important;
    font-weight: normal;
}

.fakeContainer { 
	margin: 0 0 20px;
	border: 1px;
	width: 100%; 
	height: 96%; 
	overflow: hidden; 
}

.textHeader {
    height: 30px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-style: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dfdedd));
    background: linear-gradient(to bottom,black,darkblue);
    text-align: left;
    font-size: 16pt;
    color: white;
}

.listData_Select {
    background: linear-gradient(to bottom,rgba(35,60,83,1),rgba(20,37,58,1),rgba(35,60,83,1));
}

.tenpoName {
    font-size: 11pt;
    width: 50%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.listTable{
	padding:0px;
	border-collapse:collapse;
	margin:0px;

}

.underline {
    text-decoration:underline;
}

/*2018/05/24 add start ゾーン対応*/
.listData_BLOCK{
	background:#10253f;
	border-color:#376092;
	border-style:solid;
	border-width:1px;
	padding:0px;
	font-size:18px;
	text-align:center;
	min-height:43px;
}

/* 2018/10/05 add start 号295 css対応*/
.blockBgcolor {
    background-color: #10253f;
}
/* 2018/10/05 add end 号295 css対応*/

/*.data_Tenpo_Zensya {
	font-family:ＭＳ Ｐゴシック;
    font-size:14px;
	letter-spacing:1px;
    height:60px;
    width: 5%;
    max-width: 5%;
	border:1px solid #376092;
	border-bottom:4px solid #376092;
}
.data_syorui_Zensya,  .data_haisokibo_Zensya,  .data_nosyacyosei_Zensya,  .data_toroku_Zensya,  .data_nosya_Zensya,  .data_kaisyu_Zensya {
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	letter-spacing:1px;
    height:60px;
    width: 10%;
    max-width: 10%;
	border:1px solid #376092;
	border-bottom:4px solid #376092;
}
.data_Tenpo_Block {
	font-family:ＭＳ Ｐゴシック;
    font-size:14px;
	letter-spacing:1px;
    height:60px;
    width: 5%;
    max-width: 5%;
	border:1px solid #376092;
	background:#10253f;
}
.data_syorui_Block,  .data_haisokibo_Block,  .data_nosyacyosei_Block,  .data_toroku_Block,  .data_nosya_Block,  .data_kaisyu_Block {
	font-family:'HGP創英角ｺﾞｼｯｸUB';
	letter-spacing:1px;
    height:60px;
    width: 10%;
    max-width: 10%;
	border:1px solid #376092;
	background:#10253f;
}*/
/*2018/05/24 add end ゾーン対応*/



