@charset "UTF-8"; 

body {
     margin:0px; padding:0px; background-color:white;
}

.title{
	border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */
    font-family:"HGP創英角ｺﾞｼｯｸUB";
    font-size:11pt;
    text-align:center;
    color:white;
    box-shadow: 4px 4px 0px 0px rgb(210,210,210);
    background:black;
}

.header_textStyle{
	
	font-family:"HGP創英角ｺﾞｼｯｸUB";
	font-weight:bold;
	font-size:12.5pt;
	color:#666666;
	
}

.headersp {
    padding-left:15px;
}

.headerTable {
    height:20px;
    padding:0px;
    border-collapse:collapse;
    margin-top:10px
}

section{
	/*width:970px;*/
    width:955px;
	height:535px;
	overflow-x:hidden;
	overflow-y:hidden;
    padding-left:0px;
}
