/*
 * システム   : 次期営業支援システム全国版
 * 機能名     : 活動結果入力　詳細(活動結果入力) 共通CSS
 * ファイル名 : T_SR_CSS_KatsudoKekkaNyuryokuTabCommon.css
 *
 *  VERSION    DATE        BY          CHANGE/COMMENT
 * ----------------------------------------------------------------
 *  1.00       2019/08/20  HISOL清水    新規作成
 */
.S10101-base {
  background-color: #5478a9;
  box-shadow: 0px 2px 3px 0px rgba(102, 102, 102, 0.3);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction:column;
}

.S10101-header {
  height: 35px;
  line-height: 35px;
  display: flex;
  flex-direction: row;
}

.S10101-header-title {
  max-width:380px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.92px;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(25, 58, 102, 0.75);

  margin-left:9px;
  margin-right:15px;
}

.S10101-contents {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.S10101-left {
  width: 76.5%;
  /*width: 984px; */
  height: 435px; /*500px*/
  margin-left: 10px;
}

.S10101-right {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(102, 102, 102, 0.3);
  width: 21.1%;
  /*width: 272px;*/
  height: 435px; /*500px*/
  margin-left: 9px;
}

.S10101-styles {
  display: none;
}